<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API de Animales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <h1>Consulta sobre Animales</h1>
    <ul>
        <li><a href="/gato">Consultar sobre Gato</a></li>
        <li><a href="/perro">Consultar sobre Perro</a></li>
        <li><a href="/huron">Consultar sobre Hurón</a></li>
        <li><a href="/boa">Consultar sobre Boa Constrictor</a></li>
    </ul>
</body>
</html>
